* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Oxygen Mono', monospace;
    color: #FFFFFF;
    scroll-behavior: smooth;
}

body {
    background-color: #afafaf;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    border-bottom: 10px solid #C3C3C3;
}

h2 {
    margin-bottom: 2rem;
}

.center {
    text-align: center;
}

a {
    color: #FFFFFF;
    text-decoration: underline;
}

a:hover {
    color: #747474;
}

/* To Top Styles */

.topwrap {
    width: 100%;
    position: sticky;
    top: 5.2rem;
    z-index: 4;
}

.backtotop {
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    background-color:#202020;
    opacity: .95;
    padding: 5px;
    font-size: 1.25rem;
}

.totop {
    text-decoration: none;
}

/* Top Bar & Menu Styles */
header {
    background-color: #C3C3C3;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid rgba(0, 0, 0, .7);
    border-bottom: 1px solid rgba(0, 0, 0, .7);
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
}

.topbar {
    background-color: #2e2d2d;
    margin: 2px;
    padding: .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #747474
}

.menuhead {
    color: #FFFFFF;
    font-size: 1.5rem;
    display: inline;
}

.ico-links {
    list-style: none;
    margin-top: 2px;
    margin-right: .25rem;
}

.topbar li {
    display: inline;
    
}

.ico {
    width: 1.75rem;
    height: 1.5rem;
    background-color: #C3C3C3;
    border: 1px solid #2c2c2c;
    padding: 3px;
    box-shadow: 0 0 2px #000000;
}

.menu {
    margin-left: .5rem;
}

.menu li {
    display: inline-block;
    font-size: 1.2rem;
}

.mlink {
    color: #000000;
    text-decoration: none;
}

/* Main & Section Styling */

main {
    margin-top: 5.5rem;
}

section {
    border: 4px groove #dddddd;
    background-color: #2E2D2D;
    width: 75%;
    margin: 1rem auto;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
}

.about-box {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}

.portrait {
    border-radius: 50%;
    width: 30%;
    margin-right: 2rem;
    border: 3px solid #d1d1d1;
    align-self: start;
}

.about-text {
    display: inline-block;
    width: 70%;
    font-family: 'Lexend', sans-serif;
    font-weight: 200;
    font-size: 1.25rem;
    padding: 1.5rem;
    background-color: rgba(116, 116, 116, .25);
    border-radius: 10px;
}

.about-text p {
    margin-bottom: 1rem;
}

/* Projects Styles */

#projbox {
    display: grid;
    grid-template-columns: 5% 1.5fr 2fr 5%;
    align-items: center;
    margin: .5rem auto;
    column-gap: .5rem;
}

#projimg {
    border: 2px solid #C3C3C3;
    width: 90%;
    justify-self: right;
    max-width: 300px;
}

#projfwd {
    justify-self: right;
}

.projtext {
    font-family: 'Lexend', sans-serif;
    font-weight: 200;
    padding: 1rem;
    background-color: rgba(116, 116, 116, .25);
    border-radius: 10px;
    line-height: 1.5;
    width: 90%;
    justify-self: left;
}

.projtext ul {
    list-style-type: circle;
    margin-left: 2rem;
}

.projbtn {
    font-family: 'Lexend', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    color: #383838;
    background-color: #C3C3C3;
    padding: .25rem;
    border: 1px solid #747474;
    border-radius: 10px;
    height: 200px;
    cursor: pointer;
}

.projbtn:hover {
    background-color: #747474;
    border: 1px solid #383838;
    color: #000000;
}

/* Progress Section Styles */

#progress {
    margin-bottom: 4rem;
}

.certs {
    list-style-type: none;
    text-align: center;
}

.progbar {
    display: inline-block;
    border: 1px solid #afafaf;
    width: 8rem;
    height: 1.2rem;
    margin-top: .2rem;
}

.progfill {
    height: 100%;
    background-color: #747474;
}

/* Footer Styles */

footer {
    text-align: center;
    background-color: #2E2D2D;
    width: 100%;
    padding-top: .5rem;
    position: fixed;
    bottom: 0;
    z-index: 5;
    border-top: 5px solid #747474;
}

/* Media Queries */

@media only screen and (max-width: 1250px) {
    section {
        width: 85%;
    }

    h1 {
        font-size: 2.75rem;
    }
}

@media only screen and (max-width: 825px) {
    html {
        font-size: 14px;
    }

    section {
        width: 90%;
    }

    .topwrap {
        top: 5.5rem;
    }
}

@media only screen and (max-width: 650px) { 
    html {
        font-size: 13px;
    }
    .menuhead {
        font-size: 1.25rem;
    }
    .about-box{
        flex-flow: row wrap;
    }
    .portrait {
        width: 75%;
        margin-bottom: 2rem;
    }
    .about-text {
        width: 90%;
    }
    
    .topwrap {
        top: 6rem;
    }
}

@media only screen and (max-width: 440px) { 
    .topbar {
        flex-flow: row wrap;
        justify-content: center;
    }

    main {
        margin-top: 8rem;
    }

    #projbox {
        grid-template-rows: 1fr 1fr;
        column-gap: 1rem;
    }

    .project-box {
        width: 100%;
    }

    #projfwd{
        grid-row: 1 / span 2;
        grid-column: 4;
    }

    #projback {
        grid-row: 1 / span 2;
        grid-column: 1;
    }

    .projtext {
        grid-row: 2;
        grid-column:2 / span 2;
        align-self: start;
        margin-top: .5rem;
    }

    #projimg {
        grid-row: 1 / 1;
        grid-column:2 / span 2;
        justify-self: center;
    }

    .topwrap {
        top: 7.5rem;
    }
}